<!DOCTYPE html>
<html lang="es">

<!--Include Head-->

<%- include('./partes/head.ejs') %>

<body>
	<!-- Include Header -->
	<%if (logueado){%>
		<%- include("/partes/headerLogueado.ejs") %>
		<%} else { %>
		<%- include("/partes/headerNoLogueado.ejs") %>
	<% } %>

	<!-- Banner -->
	<div class="banner">
		<img src="./images/bannerprog2.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < productos.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="<%= productos[i].imagen %>"  alt="shoes">
						</figure>
						<article class="product-box_data">
							<h2> <%= productos[i].nombre  %>  </h2>
							<p> <%= productos[i].descripcion  %> </p>
							<p><%= productos[i].comentarios %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html>
			