<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<% if (locals.user == undefined) { %>
		<%- include('./partials/headerNoLogueado') %> 
	<% } else { %>
	 <%- include('./partials/headerLogueado')  %>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.model %> </h2> 
			<p class="product-detail-description">
					<a class="editButton" href="/products">Editar</a>
			</p>
		
		</div>
		<div class="product-detail">
			<div class="row">
				<p class="creador"> Creado por:<strong> <a href="/profile/id/<%= producto.perfil %>"> <%= producto.perfil %> </a></strong></p>

					<article class="col-12 col-lg-8 product-detail-info">
						<img src=<%= producto.photo %> alt= <% producto.model %> class="product-detail-img">
						<p class="product-detail-description">
							<%= producto.description %>
						</p>
					</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < producto.comentario.length; i++) { %>
							<article>
								<a href="/profile/id/<%= producto.comentario[i].dataValues.id %>">
									<img src="<%= producto.comentario[i].dataValues.foto %>" alt="Foto perfil">
								</a>
								<div class="data">
									<p class="user">
										<strong>
											<a href="/profile/id"><%= producto.comentario[i].dataValues[0] %></a>
										</strong>
										<%= producto.comentario[i].texto %>
									</p>
								</div>
							</article>
						<% } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">Añadir comentario</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>
