<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%if (logueado){%>
		<%- include("partials/headerLogueado.ejs") %>
		<%} else { %>
		<%- include("partials/headerNoLogueado.ejs") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de busqueda: </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if (listaProductos.length == 0) { %>
				<h2>No hay resultados para tu búsqueda</h2>
			   <% } else {%>
				   <% for( let i = 0; i < listaProductos.length; i++ ) { %>
					   <article class="col-12 col-sm-6 col-lg-3">
						   <section class="product-box">
							   <a href="id/<%=listaProductos[i].id%>">
								   <figure class="product-box_image">
									   <img src="<%=listaProductos[i].foto %>" alt="Imagen de <%=listaProductos[i].nombre %>">
								   </figure>
								   <article class="product-box_data">
									   <h2><%=listaProductos[i].nombre %></h2>
									   <p><%=listaProductos[i].descripcion %></p>
									   <p>Comentarios: <%= listaProductos[i].perfil.comentario.length %></p>
									   <p>Creador: <a href="profile/id/<%= listaProductos[i].perfil.id %>"> <%= listaProductos[i].perfil.usuario %> </a></p>
								   </article>
							   </a>
						   </section>
					   </article>
				   <% } %>
			   <% } %>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>
