<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<% if (locals.user == undefined) { %>
		<%- include('./partials/headerNoLogueado') %> 
	<% } else { %>
	 <%- include('./partials/headerLogueado')  %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de busqueda: </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if (producto.length == 0) { %>
				<h2>No hay resultados para tu búsqueda</h2>
			   <% } else {%>
				   <% for( let i = 0; i < producto.length; i++ ) { %>
					   <article class="col-12 col-sm-6 col-lg-3">
						   <section class="product-box">
							   <a href="id/<%=producto[i].id%>">
								   <figure class="product-box_image">
									   <img src="<%=producto[i].photo %>" alt="Imagen de <%=producto[i].model %>">
								   </figure>
								   <article class="product-box_data">
									   <h2><%=producto[i].model %></h2>
									   <p><%=producto[i].description %></p>
									   <p>Comentarios: <%= producto[i].perfil.comentario %></p>
									   <p>Creador: <a href="profile/id/<%= producto[i].perfil.id %>"> <%= producto[i].perfil.nombre %> </a></p>
								   </article>
							   </a>
						   </section>
					   </article>
				   <% } %>
			   <% } %>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>
